@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;}



  .trabajadores {
    padding: 30px;
    text-align: center;
    background: rgb(240, 240, 240);
  }

  .trabajadores h1{
    margin-bottom: 40px;
  }
  .trabajadores ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .trabajadores li{
    max-width: 280px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.086);
    padding: 20px;
    border-radius: 10px;
  }